
@addTagHelper *,Microsoft.AspNetCore.MVC
@{
    ViewData["Title"] = "Menu Page";
}


<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    @await Html.PartialAsync("_Navigation")

    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Thực đơn</h1>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<!-- Menu Start -->

@await Html.PartialAsync("_Menu")
<!-- Menu End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

