@{
    var data = ViewData["KetCa"] as List<RevenueRecord>;
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Doanh thu ngày</h2>
                <h3 class="text-center" style="font-size: 50px;">@DateOnly.Parse(DateTime.Now.ToString("yyyy-MM-dd"))</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Kiểu thanh toán</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (data != null)
                        {
                            decimal tongDoanhThu = 0;
                            for (int i = 0; i < data.Count; i++)
                            {
                                tongDoanhThu += data[i].TotalAmount;
                                <tr>
                                    <td>@data[i].PaymentType</td>
                                    <td class="text-end">@data[i].TotalAmount</td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td class="text-end">Tổng: @tongDoanhThu</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>