@model NhaHangBuffetPBL3.Models.Food

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa món</h1>

<h3>Bạn có chắc chắn muốn xóa @Html.DisplayFor(model => model.FoodName) không?</h3>
<div>
    <h4>MonAn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên món
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodName)
        </dd>
        <dt class = "col-sm-2">
            Phân loại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            Hình ảnh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image_Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FoodId" />
        <input type="submit" value="Xóa món" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
